<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Events</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/msulogo.png') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/open-iconic-bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/eventstyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lato.css') }}">
    
    <style> 
    {% for disp in disps %}
    #{{disp.month}} {background-color: {{disp.color}};}
    {% endfor %}
    </style>


  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark probootstrap-navabr-dark">
      <div class="container">
        <a class="navbar-brand" href="/landing"><img src="{{ url_for('static', filename='images/logo.png') }}" width="150" height="75"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-nav" aria-controls="probootstrap-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="probootstrap-nav">
          <ul class="navbar-nav ml-auto">
            <div class="dropdown">
                <button class="dropbtn"><img src="{{ url_for('static', filename='images/user.png') }}"></button>
                <div class="dropdown-content">
                <a href="/profile">Profile</a>
                <a href="/logout">Log Out</a>
              </div>
            </div>

          </ul>
            Logged in as {{current_user.username}}
        </div>
      </div>
    </nav>

    <section class="probootstrap-section">
      <div class="container" style="padding-top: 50px;">
        <div class="row">
            {% for disp in disps %}
            <button class="tablink w3-animate-opacity" style="background-color: {{ disp.color }};" onclick="openPage('{{ disp.month }}', this, '{{ disp.color }}88')">{{ disp.month }}</button>
            {% endfor %}
            {% for disp in disps %}
            <div id="{{ disp.month }}" class="tabcontent">
              {% for event in events|sort(attribute='date_s') %}
              {% if disp.id == event.date_s.strftime("%B") %}
            
            
            <ul class="event-list">
                <li>
                    <time datetime="2014-07-20">
                        {% if event.date_e is none %}
                            <span class="day" style="padding-bottom: 15px;">{{ event.date_s.strftime("%d") }}</span>
                        {% elif event.date_e is not none %}
                            <span class="days" >{{ event.date_s.strftime("%d") }} - {{ event.date_e.strftime("%d") }}</span>
                        {% endif %}
                        <span class="month">{{ event.start.strftime("%H:%M") }} - {{ event.end.strftime("%H:%M") }}</span>
                    </time>
                    <img src="{{ url_for('static', filename='images/upload/'+ event.image_file )}}">
                    <div class="info">
                        <h2 class="title">{{ event.title }}</h2>
                        {% for user in users %}
                        {% if user.id == event.organizer %}
                        <p class="desc">by: {{ user.fname + ' ' + user.lname }}</p>
                        {%endif%}{%endfor%}
                        <p class="desc">{{ event.description }}</p>
                        <ul>
                            <li style="width:50%;"><a href="#website"><img src="{{ url_for('static', filename='images/note.png') }}">Join Event </a></li>
                            <li style="width:50%;" data-toggle="modal" data-target="#venue{{ event.id }}"><img src="{{ url_for('static', filename='images/info.png') }}"> More Info </li>
                        </ul>
                    </div>
            </ul>    
            
            {% endif %}
            {% endfor %}
            <h3>No Events For Now</h3>
            </div>
            {% endfor %}
        </div>
      </div>
    </section>

{% for event in events %}
{% for venue in venues %}
    <!--- LOG IN !--->
<div id="venue{{ event.id }}" class="modal fade" role="dialog">
  <div class="modal-dialog" style="max-width: 75%;">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="product-title">{{ event.title }}</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
              
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview col-md-6">
            
            <div class="preview-pic tab-content">
              <div class="tab-pane active" id="pic-1"><img src="{{ url_for('static', filename='images/upload/'+ event.image_file )}}" /></div>
            </div>
          </div>
          <div class="details col-md-6">
            <h3 class="product-title">Details</h3><!-- 
            {% for user in users %}
            <span class="review-no">by {{ user.fname +' '+ user.lname }}</span>
            {% endfor %} -->
            <div class="rating">
              {% if event.date_e is none %}
              <span class="review-no"><img src="{{ url_for('static', filename='images/calendarmini.png') }}">{{ event.date_s  }}</span>  
              <span class="review-no"><img src="{{ url_for('static', filename='images/clock.png') }}">{{ event.start.strftime("%I:%M %p") }}-{{ event.end.strftime("%I:%M %p") }}</span>
              {% elif event.date_e is not none %}
              <span class="review-no"><img src="{{ url_for('static', filename='images/calendarmini.png') }}">{{ event.date_s }} - {{ event.date_e }} </span>
              <span class="review-no"><img src="{{ url_for('static', filename='images/clock.png') }}">{{ event.start.strftime("%I:%M %p") }}-{{ event.end.strftime("%I:%M %p") }}</span>
              {% endif %}
            </div>
            <span class="review-no"><img src="{{ url_for('static', filename='images/pin.png') }}">{{ venue.name }}</span>
            <p class="product-description">{{ event.description }}</p>
            <h4 class="price">Tags</h4>
            <p class="vote"><strong>{{ event.tags }}</strong></p>
          </div>
        </div>
      </div>
    </div>
  
    </div>
  </div>
</div>
{% endfor %}
{% endfor %}


    <script src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/event.js') }}"></script>
  </body>
</html>

