<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Venues - </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/msulogo.png') }}"/>   
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/open-iconic-bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/eventstyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dispbox.css') }}">
  </head>

  <body style="min-height: 650px;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark probootstrap-navabr-dark">
      <div class="container">
        <a class="navbar-brand" href="/landing"><img src="{{ url_for('static', filename='images/logo.png') }}" width="150" height="75"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-nav" aria-controls="probootstrap-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="probootstrap-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="/event" class="nav-link" data-toggle="tooltip" title="Event Calendar"><img src="{{ url_for('static', filename='images/calendar.png') }}"></a></li>
            <div class="dropdown">
                <button class="dropbtn"><img src="{{ url_for('static', filename='images/upload/'+ current_user.image_file )}}" width="60" height="60" style="border-style: none;border-radius: 30px;"></button>
                <div class="dropdown-content">
                <a href="/profile">Profile</a>
                <a href="/logout">Log Out</a>
              </div>
            </div>

          </ul>
            Logged in as {{current_user.username}}
        </div>
      </div>
    </nav>

    <section class="probootstrap-section">
      <div class="container">
        <div>
        <a href="/venue-main"><img src="{{ url_for('static', filename='images/back.png') }}" style="width: 100px; margin-top: 15px;"></a>  
        </div> 
        <div class="row align-items-center">
          <div class="col-md pl-md-3 pl-0 probootstrap-image-grid">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <div class="row" style="padding-top: 10px;">

              {% for venue in venues %}
              {% for college in colleges %}
              {% if venues|selectattr('college','equalto',college.id)|list|length == 0 and college.id == venue.college %}
                <div class="col-md-4 col-sm-6" style="padding-top: 15px; padding-bottom: 15px;  ">
                  <div class="box8">
                      <img src="{{ url_for('static', filename='images/upload/'+ venue.image_file )}}">
                      <p hidden>{{ venue.id }}</p>
                      <h3 class="title">{{ venue.name }}</h3>
                      <div class="box-content">
                          <ul class="icon">
                              <li><a href="#"><i class="fa fa-search" data-toggle="modal" data-target="#venue{{ venue.id }}">More</i> </a> </li>
                          </ul>
                      </div>
                  </div>
                </div>
              {% endif %}
              {% endfor %}
              {% endfor %}
            
            </div>
          </div>
        </div>
      </div>
    </section>



    <footer>
      {% for admin in admins %}
      {% for user in users %}
      {% for college in colleges %}
      {% if admin.college == college.id and admin.id == user.id %}
     <div class="container-fluid bg-primary py-3" style="margin-top: 240px;">
        <div class="container">
          <div class="row">
            <div class="col-md-7" style="max-width: 49.333%;">
                <div class="row py-0">
              <div class="col-sm-1 hidden-md-down">
                  <a class="bg-circle bg-info" style="background-image: url(../static/images/upload/{{user.image_file}});background-size: 100%; background-position: center;"><!-- 
                    <img src="{{ url_for('static', filename='images/upload/'+ user.image_file )}}" style="border-style: none;border-radius: 50%; width: 100%; height: 100%"> -->
                  </a>
                </div>
                <div class="col-sm-11 text-white">
                    <div><h4 style="margin-top: 0px;margin-left: 70px; color: #fff;margin-bottom: 0rem;">{{user.fname + ' ' + user.lname}}</h4>
                        <p style="margin-left: 70px;">{{ college.name }}</p>
                        <p style="margin-left: 70px; margin-bottom: 0rem;""><img src="{{ url_for('static', filename='images/email.png')}}"> {{ user.email}}<img src="{{ url_for('static', filename='images/smartphone.png')}}"> {{admin.contact}} </p>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-7" style="max-width: 49.333%;">
                <div class="row">
                  <img src="{{ url_for('static', filename='images/novenue2.png') }}" style="width: 100%; margin-top: 10px; border-radius: 1rem;">
                </div>
            </div>
          </div>
        </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
        {% endfor %}
    </footer>


{% for venue in venues %}
{% for college in colleges %}
    <!--- LOG IN !--->
<div id="venue{{ venue.id }}" class="modal fade" role="dialog">
<div class="modal-dialog" style="max-width: 75%">

    <!-- Modal content -->
    
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="product-title">{{ venue.name }}</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
              
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview col-md-6">
            
            <div class="preview-pic tab-content">
              <div class="tab-pane active" id="pic-1"><img src="{{ url_for('static', filename='images/upload/'+ venue.image_file )}}" /></div>
            </div>
          </div>
          <div class="details col-md-6">
            <h3 class="product-title">Location</h3>
            <div class="rating">  
              <span class="review-no"><img src="{{ url_for('static', filename='images/pin.png') }}">{{ college.name }}</span>
            </div>
            <span class="review-no" style="padding-top: 15px"><strong>Capacity:</strong> {{venue.capacity}}</span>
            <span class="review-no"><strong>Rate:</strong> {{venue.rate}}Php/hr</span>
            <span class="review-no"><strong>Equipment:</strong> {{venue.equipment}}</span>
            <a href="/addevent" class="btn btn-success btn-sm">Use This Venue</a>
          </div>
        </div>
      </div>
    </div>
  
    </div>
  </div>
</div>
{% endfor %}
{% endfor %}

    

    <script src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>